@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root {
  --logo-green: #b8d682;
  --logo-blue: #81a4b2; /* 129,164,178 */
  --main-white: white;
}

/*****************/
/* General Styles*/
/*****************/
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: var(--main-white);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

/*****************/
/* Header Styles */
/*****************/

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-white);
}

header div.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header div.logo img {
  width: 100%;
  height: 100%;
  max-width: 200px;
}

nav ul {
  list-style: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.6rem;
}

nav ul li a {
  padding: 4px 8px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
}

nav ul li a:hover {
  background-color: var(--logo-green);
  color: white;
}

@media (max-width: 768px) {
  header {
    position: absolute;
    top: 0;
  }
  nav {
    margin-top: 10px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.9rem;
  }
  nav ul {
    flex-direction: column;
  }
  /* nav ul li {
    padding-bottom: 5px;
  } */
  nav ul li a {
    padding: 4px 8px;
  }
}

@media (max-width: 600px) {
  header {
    position: absolute;
    top: 0;
    flex-wrap: wrap;
  }
  div.logo {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  div.logo img {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  nav {
    font-size: 1.6rem;
    margin-top: 0;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
  }
  nav li {
    padding: 0;
  }
  nav ul li a {
    padding: 0px 8px 4px;
  }
}

/*****************/
/*  Main Styles  */
/*****************/

main {
  margin: 103px 30px 20px;
}

div.hero {
  text-align: center;
}

div.hero h1 {
  font-size: 3.9rem;
}

div.quick-contact {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.quick-contact * {
  margin: 8px 5px;
}

p.center {
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: background-color 0.5s, color 0.5s;
}

p.center a {
  padding-right: 8px;
}

p.center:hover {
  background-color: var(--logo-green);
  color: white;
}

@media (max-width: 600px) {
  div.quick-contact {
    flex-direction: column;
    align-items: center;
  }

  div.quick-contact * {
    margin: 4px auto;
  }
}

.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: 10px auto;
}

/* Hide the images by default */
.slide {
  padding: 0 auto;
  display: none;
}

div.slide > img {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(255,255,255, .6);
  text-align: center;
  font-size: 2rem;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  text-align: center;
  width: 700px;
  margin: auto auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@media (max-width: 600px) {
  main {
    margin-top: 145px;
  }
  iframe {
    width: 80vw;
  }
  .dots {
    width: 100%;
  }
}

/*****************/
/* Footer Styles */
/*****************/

footer {
  margin: 10px 30px 30px;
}

div.divide {
  width: 100%;
  border: solid 4px var(--logo-green);
  border-radius: 3em;
  margin-bottom: 15px;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.grid-container .grid-item {
  flex: 1;
}

footer h2 {
  margin-bottom: 3px;
}

footer iframe {
  margin-top: 20px;
}

.flex-box {
  display: flex;
  align-items: center;
}

.flex-box * {
  margin: 0 5px;
}

@media (max-width: 768px) {
  footer {
    margin-bottom: 20px;
  }

  footer div .grid-container {
    flex-direction: row;
  }

  footer div .grid-item {
    width: 100%;
  }
}